<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content fullscreen>
  <form [formGroup]="myLogin" (ngSubmit)="login()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Correo <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="contrasena"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Ingresar</ion-button>
    </div>
  </form>
</ion-content>
</ion-app>